.container{
	
	display: flex;
	
}
.col-right{
	
}
.img-right{
	flex: 1;
	width: 100%;
	height: 100%;
}
.col-left{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.row-above{
	flex: 4;
	display: flex;
}
.row-below{
	flex: 1;
	display: flex;
}
.conten{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.red{
	background-color: red;
}
.grey{
	background-color: grey;
}
.col2-left{
	flex: 3;
	display: flex;
	flex-direction: column;
}
.col2-right{
	flex: 1;
}
.col2-right{
	display: flex;
	flex-direction: column;
	color: white;

}
.menu{
	flex: 4;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}
.img{
	flex: 4;
	width: 100%;
	max-height: auto;
	opacity: 0.85;
}

.menu:hover{
	background: grey;
	color: #fff;
	zoom: 120%;
	color: white;
	transition: 1s;
	border: 1px red solid;
}
.img:hover{
	opacity: 1;
	transition: 0.6s;
}

/* (1) Màn hình nhỏ để đứng (phones, 600px và nhỏ hơn) */
@media only screen and (max-width: 600px) {
.container{
	flex-direction: column-reverse;
	flex: 4;
}
.row-above{
	flex-direction: row-reverse;
	flex: 5;

}
.row-below{
	height: 150px;
}
}

/* (2) Màn hình nhỏ để ngang(phones 600px và lớn hơn) */
@media only screen and (min-width: 600px) {

}

/* (3) Màn hình cỡ thường để đứng (tablets, 768px và lớn hơn) */
@media only screen and (min-width: 768px) {

}

/* (4) Màn hình lớn (laptops/desktops, 992px và lớn hơn) */
@media only screen and (min-width: 992px) {

}

/* (5) Màn hình lớn với độ phân giải cao (màn hình 1200px, 2k, 4k, 8k và lớn hơn) */
@media only screen and (min-width: 1200px) {

}